html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
.form {
  justify-items: center;
  align-content: center;
  padding-top: 10%;
}

footer {
  text-align: center;
  background-color: #0d6efd;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
